parameters:
  level: 10
  paths:
    - api/src
    - worker/src
    - backend-shared/src
  tmpDir: /tmp/phpstan
  bootstrapFiles:
    - phpstan-bootstrap.php
  reportUnmatchedIgnoredErrors: true

  excludePaths:
    analyse:
      - '*/vendor/*'

  ignoreErrors:
    - identifier: missingType.iterableValue
    - message: '#While loop condition is always true\.#'
      path: worker/src/Runner.php
